<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> header}}
    <link rel="stylesheet" href="/styles.css">
    <title>Sign Up</title>
</head>

<body>
    {{> nav}}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Sign Up</h2>
                        <form action="/user/signup" method="POST">
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control bg-dark text-white" id="fullname" name="fullname"
                                    placeholder="Enter your full name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control bg-dark text-white" id="email" name="email"
                                    placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control bg-dark text-white" id="password"
                                    name="password" placeholder="Enter your password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                            <div class="form-group mt-3">
                                {{#if error}}
                                <div class="alert alert-danger" role="alert">{{error}}</div>
                                {{/if}}
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <p>Already have an account? <a href="/user/signin" class="text-primary">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
    {{> script}}
</body>

</html>